
.button{
  border: 0;
  color: #515f69;
  padding: 25px;
}

.button:hover{
  cursor: pointer;
  color: #ffffff;
  background-color: #8697a6;
}
footer{
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  nav ul li {
      margin: 15px;
  }
  
}
