
.button{
  border: 0;
  color: #515f69;
  padding: 25px;
}

.button:hover{
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50px;
  transition: 1s;
}
footer{
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  nav ul li {
      margin: 15px;
  }
  
}
