form{
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 15px;
    background-color:#8fcdd9;
}
 form span.span-required{
    display: none;
    font-size: 12px;
    margin: 5px 0 0 1px;
    color: #f00;
}


form fieldset{
    border: 0;
}

form fieldset label{
    display: block;
    color: #000000;
}

form fieldset input, textarea{
    width: 100%;
}

@media only screen and (max-width: 500px) {
    form{
        width: 80%;
    }
}